<!DOCTYPE html> {% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/dashboardStyle.css" %}" />
    <title>Records</title>
</head>

<body>
    <h1>Hi, this is list of records</h1>
    {% if access_records %}
    <div name="data">
        <table>
            <thead>
                <th>
                    Company name
                </th>
                <th>
                    Date
                </th>
            </thead>
            <tbody>
                {% for record in access_records %}
                <tr>
                    <td>{{ record.name }}</td>
                    <td>{{ record.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h1>No record found</h1>
    {% endif %}

</body>

</html>