<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <title>Bali Trip</title>
</head>

<body>
    <h1>Hi, this is a picture of Bali trip</h1>
    <img src='{% static "images/bali.jpeg" %}' style="margin-left: 300px;">
    <br />
    <h2 style="text-align: center;">{{ insert_me }}</h2>
</body>

</html>